In [9]:
import pandas as pd
import geopandas as gpd
import movingpandas as mpd
import matplotlib.pyplot as plt 
import contextily as ctx
import geoplot
import os
from shapely.geometry import Point

In [5]:
data_dir = '/Users/dfc/Documents/MyPythonRepos/DFC_New/LABSEA_MCRO_DRIFTER'
data_file = 'M184_drifter_0194.csv'
data_path = os.path.join(data_dir,data_file)

df = pd.read_csv(data_path)
df.head()

                      Time  Latitude  Longitude
0  2022-08-13T15:21:54.999  49.78859  -50.16989
1  2022-08-13T15:27:58.000  49.78702  -50.17024
2  2022-08-13T15:32:57.998  49.78526  -50.17084
3  2022-08-13T15:36:56.998  49.78410  -50.17114
4  2022-08-13T15:41:54.999  49.78262  -50.17175

In [10]:
lon = df['Longitude']
lat = df['Latitude']
geometry = [Point(xy) for xy in zip(lon,lat)]